import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Pixelify+Sans:wght@400..700&family=Underdog&display=swap');
body{
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 149, 0);\
    height: 10vw;
}
nav a:hover{
    box-shadow: inset 3px 3px 3px rgb(33, 167, 7);
    background-color:aqua;
}